.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0a6ed1;
  padding: 10px 30px;
  color: white;
  gap: 40px;
}

.navbar-logo {
  font-size: 1.2rem;
  font-weight: bold;
}

.navbar-actions {
  display: flex;
  gap: 20px;
}

.nav-btn {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 8px 16px;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.nav-btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.nav-btn.active {
  background-color: white;
  color: #0a6ed1;
  border: 1px solid #0a6ed1;
}


.navbar-user {
  display: flex;
  align-items: center;
  gap: 12px;
}

.user-label {
  font-weight: 500;
  color: white;
}

.user-dropdown {
  padding: 6px 10px;
  border-radius: 4px;
  border: none;
  font-weight: 600;
  background-color: white;
  color: #0a6ed1;
  cursor: pointer;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar-center {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.logo-trenes {
  height: 60px;
  max-width: 100%;
}
